header {
    margin-left: 24px;
    margin-top: 24px;
    position: absolute;
}

header img {
    margin-top: 32px;
}


.navbar-expand-lg {
    position: absolute;
    right: 32px;
    left: 200px;
    top: 8px;
    font-size: 24px;
    display: flex;
    align-items: center;

}

#Home {
    font-size: 24px;
}

.collapse {
    padding-left: 24px;
}

#teaser img {
    margin-top: 150px;    
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container {
    margin-top: 48px;
    margin-bottom: auto;
}

.archive-box {
    background-color: rgb(238, 236, 236);
    text-align: center;
    margin-bottom: auto;
    margin-top: 48px;
}

.archive-description {
    max-width: 600px;
    margin: auto;
}

.card {
    margin-top: 48px;
    margin-bottom: auto;
    margin: auto;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: rgb(238, 236, 236);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 32px
  }

@media screen and (min-width: 1000px) {
    #teaser img {
        height: 900px;
    }
}
