canvas {
    background-color: rgba(0,0,0,0.8);
}
#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #btnUp, #btnDown {
    margin-bottom: 10px;
  }
  