canvas {
    background-color: rgba(0,0,0,0.8);
}
#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #btnUp, #btnDown {
    margin-bottom: 10px;
  }
  #btnSpace {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  #btnSpace img {
    height:64px;
    width: 64px;
    margin-left: 64px;
  }
  